.auth
  margin 0 auto
  padding 56px 0 0
  width 280px
  > *
    margin 0 0 50px
  &__input
    border none
    border-bottom 2px solid $c-lines
    color $c-title
    display block
    font 16px/1.625 $roboto-c
    outline none
    text-align center
    text-transform uppercase
    width 100% 
    &::placeholder
      color $c-title
      font 16px/1.625 $roboto-c
      opacity 1