.ya-share2
  width 300px
  &__list
    width 300px

.ya-share2__container_size_m .ya-share2__item
  height 44px !important
  margin 0 !important
  width 75px !important
.ya-share2__item:first-of-type .ya-share2__badge
  border-radius 15px 0 0 0 !important
.ya-share2__item:last-of-type .ya-share2__badge
  border-radius 0 0 15px 0 !important
.ya-share2__link
  display block !important
  height 100% !important
.ya-share2__badge
  border-radius 0 !important
  display flex !important
  height 100% !important
  width: 100%
  justify-content: center
  align-items: center