.social-icons
  display flex
  justify-content center
  margin 30px 0
  padding 0
  text-align center
  &__item
    border 1px solid $c-title
    border-radius 50%
    display flex
    justify-content center
    align-items center
    height 40px
    list-style-type none
    margin 0
    padding 0
    width 40px
    &:hover
      border-color $c-accent
      svg
        fill $c-accent
    svg
      fill $c-title
      height 40px
      width 40px
    
    & + .social-icons__item
      margin 0 0 0 11px