.header
  background #fff
  @media (max-width: $desktop - 1)
    position fixed
    top 0
    right 0
    left 0
    border-bottom 1px solid $c-lines
    width 100%
    height 50px
    z-index 1000
  &__wrapper
    @media (max-width: $desktop - 1)
      padding 8px 0
    @media (min-width $desktop)
      margin 0 auto
      padding 30px 20px 16px
      width 1000px
  &-logo
    background url('../i/logo.svg') 50% no-repeat
    background-size contain
    display block
    margin 0 auto
    height 34px
    width 109px
    @media (min-width: $desktop)
      height 64px
      width 179px
      &._big-logo
        height 107px
        width 300px
    h1, a
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  nav
    @media (min-width: $desktop)
      display block
    @media (max-width: $desktop - 1)
      position absolute
      top 0
      right 0
      display flex
      justify-content center
      align-items center
      height 50px
      width 50px
  &__burger
    @media (max-width: $desktop - 1)
      cursor pointer
      height 44px
      position relative
      width 44px
      span
      &::before
      &::after
        position: absolute;
        left: 50%;
        background: $c-title
        display: block;
        height: 2px;
        margin-left: -10px;
        width: 20px
      span
        top: 21px
      &::before
      &::after 
        content: '';
        transform-origin: 50%;
        transition: top .2s ease .1s,bottom .2s ease .1s
      &::before
        top: 14px
      &::after
        bottom: 14px
  &-nav
    @media (max-width: $desktop - 1)
      display none
    @media (min-width: $desktop)
      display block
      font-size 0
      margin 20px 0 0
      padding 0
      text-align center
      &__item
        display inline-block
        font 13px/1 $roboto-c
        margin 0
        padding 0
        &._active
          border-bottom 4px solid $c-accent
        a
          color $c-title
          display block
          height 100%
          padding 0 10px
          text-transform uppercase
          &:hover
          &:active
            color $c-accent  
  
  &-promo
    @media (max-width: $desktop - 1)
      display none
      position absolute
      top 50%
      left 10px
      transform translateY(-50%)
    display flex
    align-items center
    margin: 0 0 0 auto
    .header-promo_img
      height 50px
      margin 0 8px 0 0
      width 50px
    img
      border-radius 50%
      height 100%
      width 100%
    .header-promo_title
      color $c-title
      font 12px/1.3 $roboto-c
      text-align center
    &:hover
      .header-promo_title
        color $c-accent    
  &._section
    position fixed
    top 0
    left 0
    right 0
    border-bottom 1px solid $c-lines
    padding 0
    z-index 1000
    @media (min-width $desktop)
      height 81px
    .header__wrapper
      @media (min-width $desktop)
        display flex
        justify-content center
        align-items center
        padding 0 20px
    .header-logo
      @media (min-width $desktop)
        height 46px
        margin 6px auto 0
        width 126px
    .header-nav
      @media (min-width $desktop)
        height 81px
        margin 0
        &__item
          height 100%
          line-height 80px
        
            







