.wine-preview
  margin 30px auto
  width 300px
  &__button
    background $c-accent
    border-radius 10px 0 10px 0
    color #fff
    display block
    height 48px
    font 16px/47px $roboto-c
    margin 30px auto 0
    text-align center
    text-transform uppercase
    width 280px
    &:hover
      background $c-title