mixin item(tag, title, type, subtitle)
  .item-preview(class= type)
    .item-preview__img
      a(href='#')
          img(src='http://via.placeholder.com/630x336' alt='')
    .item-preview__info
      a(href='#').item-preview__tag= tag
      a(href='#').item-preview__title= title
      if subtitle
        .item-preview__subtitle= subtitle

mixin wine(tag, title, type)
  .item-preview(class= type)
    .item-preview__img
      a(href='#')
          img(src='http://via.placeholder.com/300x692' alt='')
    .item-preview__info
      a(href='#').item-preview__tag= tag
      a(href='#').item-preview__title= title


mixin expert(title)
  .item-preview._expert
    .item-preview__img
      a(href='#')
          img(src='http://via.placeholder.com/300x300' alt='')
    .item-preview__info
      a(href='#').item-preview__title= title

mixin burger()
  .burger-menu
        .burger-menu__overlay
        .burger-menu__container
            .burger-menu__close
            ul.burger-menu__list
                li.burger-menu__item: a(href='#') О проекте
                li.burger-menu__item: a(href='#') Мы рекомендуем
                li.burger-menu__item: a(href='#') Рестораны
                li.burger-menu__item: a(href='#') Бары
                li.burger-menu__item: a(href='#') Про вино
                li.burger-menu__item: a(href='#') Наши эксперты
                li.burger-menu__item: a(href='#') Гастрофестивали

mixin pagination()
  ul.pagination
    li.pagination__item._prev._disabled
      a(href='#') ← Предыдущая
        svg
          use(xlink:href='i/icons.svg#prev_arrow')
    li.pagination__item: a(href='#') 1
    li.pagination__item: a(href='#') 2
    li.pagination__item: a(href='#') 3
    li.pagination__item._active: a(href='#') 4
    li.pagination__item: a(href='#') 5
    li.pagination__item: a(href='#') 6
    li.pagination__item: a(href='#') 7
    li.pagination__item: a(href='#') 8
    li.pagination__item: a(href='#') 9
    li.pagination__item._next
      a(href='#') Следующая →
        svg
          use(xlink:href='i/icons.svg#next_arrow')