.banner
  &._sidebar-banner
    margin 0 auto
    width 300px
    &._border
      border 1px solid $c-banner-lines
      padding 10px
  &._border
    @media (min-width: 768px)
      border 1px solid $c-banner-lines
      padding 10px